
<!DOCTYPE html> 
<html> 
<h3>Example Of Text Field</h3> 
<body> 
    <form method="POST" action="/login">
        <label for="GITHUB URL">GitHubURL:</label><br> 
        <input type="text" name="GitHubURL" id="GitHubURL" value="https://github.com/sanashahin2225/DevOps.git"><br> 
        
        <label for="GITHUB Branch">GitHubBranch:</label><br> 
        <input type="text" name="GitHubBranch" id="GitHubBranch" value="*/master"><br> 
        
        <label for="Command">Command:</label><br> 
        <input type="text" name="command" id="command" value="mvn install"><br> 
        
        <input type="submit" value="Submit" action="/login"> 
	</form>
</body> 
</html> 
